# -----------------
# Python GIT ignore
# -----------------
*.pyc
.DS_Store

# ---------------
# C++ GIT ignores
# ---------------
obj
bin
.vs
.vscode
*.user
*.filters
*.o
X64
*.a

src/build

# -------
# outputs
# -------
*.log
accountsSvc
itemsCMSSvc
gatewaySvc