GATEWAY_SVC_CONFIG=`pwd`/configurations/gateway_svc.config
SESSIONS_CONFIG=$(pwd)/configurations/redis.conf
ACCOUNTS_SVC_CONFIG=`pwd`/configurations/accounts_svc.config
ACCOUNTS_SVC_INTERNAL_DB=`pwd`/configurations/items_accounts_svc.db
PORTAL_SVC_CONFIG=`pwd`/configurations/web_portal_svc.config
CMS_SVC_CONFIG=`pwd`/configurations/cms_svc.config
CMS_SVC_INTERNAL_DB=`pwd`/configurations/items_cms_svc.db