# Accounts Service Parameters
ACCOUNTS_SVC_CONFIG=`pwd`/configurations/accounts_svc.config
ACCOUNTS_SVC_NETWORK_PORT=5050

# Contents Management Service Parameters
# CMS_SVC_CONFIG=`pwd`/configurations/cms_svc.config
# CMS_SVC_INTERNAL_DB=`pwd`/configurations/items_cms_svc.db

# Gateway Service Parameters
GATEWAY_SVC_CONFIG=`pwd`/configurations/gateway_svc.config
GATEWAY_SVC_NETWORK_PORT=4050

# Web Portal Service Parameters
WEB_SVC_CONFIG=`pwd`/configurations/web_portal_svc.config
WEB_SVC_NETWORK_PORT=8080

# SESSIONS_CONFIG=$(pwd)/configurations/redis.conf
