{% extends "bootstrap_enabled_template.html" %}
{% block title %}Integrated Test Management Suite | Home{% endblock %}
{% block head %}{{ super() }}
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

{% block body_params %}id="body-pd"{% endblock %}
{% block page_body %}
<header class="header" id="header">
    <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
</header>

<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div>
            <a href="#" class="nav_logo"><i class='fas fa-home nav_logo-icon'></i><span
                    class="nav_logo-name">BBBootstrap</span></a>

            <div class="nav_list">
                <a href="#" class="nav_link active" title="Dashboard" data-bs-toggle="tooltip">
                    <i class='bx bx-tachometer nav_icon'></i>
                    <span class="nav_name">Dashboard</span>
                </a>

                <a href="#" class="nav_link disabled">
                    <i class='bx bx-clipboard nav_icon'></i>
                    <span class="nav_name">Statistics</span>
                </a>

                <a href="#" class="nav_link disabled">
                    <i class='bx bx-table nav_icon'></i>
                    <span class="nav_name">Test Definitions</span>
                </a>

                <a href="#" class="nav_link disabled">
                    <i class='bx bx-run nav_icon'></i>
                    <span class="nav_name">Test Execution</span>
                </a>

                <a href="#" class="nav_link disabled">
                    <i class='bx bx-cog nav_icon'></i>
                    <span class="nav_name">Settings</span>
                </a>

                <a href="#" class="nav_link disabled">
                    <i class='bx bx-user nav_icon'></i>
                    <span class="nav_name">User Profile</span>
                </a>

            </div>
        </div>

        <a href="#" class="nav_link">
            <i class='bx bx-log-out nav_icon'></i>
            <span class="nav_name">Log out</span>
        </a>
    </nav>
</div>

<!--Container Main start-->
<div class="height-100 bg-light">
    <h4>Main Components goes here...</h4>
</div>
<!--Container Main end-->
{% endblock %}